* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-blue {
  background-color: cyan;
}

.headWrapper .top-strip {
  padding: 10px 0;
  color: #ff6347; 
  font-size: 12px;
}

.logoWrapper img {
  width: 100%;
}

.countrydroupdown {
  justify-content: flex-start !important;
  height: 60px;
  width: 150px;
  min-width: 150px;
  color: #000;
  border: 1px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px !important;
  

}
